.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    h1 {
        size: 1.8rem;
    }

    button {
        margin-left: 75vw;
        color: black;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px;
        background-color: bisque;
    }
}