.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    
    app-menu{
        flex-shrink: 0;
        z-index: 1000;
        width: 100%;
        height: 10vh;
        position: relative;
    }


    .main-container{
        flex-shrink: 1;
        z-index: 900;
        width: 100%;
        height: 90vh;
        position: relative;

        
        app-main-thread{
            all: inherit;
        }
    }
}
    
    

