.container{
    height: 100%;
    background-color: #0F71D3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 0 0 20px 20px;

    .check {
        position: absolute;
        transform: translateX(-5px);
        height: 2rem;
        width: 2rem;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    .ham-menu {
        height: 2rem;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 0.25em;
        margin-right: 20px;

        .line {
            background-color: #fff;
            border-radius: 1em;
            width: 2rem;
            height: 0.25rem;
        }
        
        .line1 {
            transform-origin: 0% 0%;
            transition: transform 100ms ease-in-out;
        }
        
        .line3 {
            transform-origin: 0% 100%;
            transition: transform 100ms ease-in-out;
        }
    }
        
    .check:checked ~ .ham-menu .line1 {
        display: block;
        transform: rotate(45deg);
    }
    
    .check:checked ~ .ham-menu .line2 {
        opacity: 0;
    }
    
    .check:checked ~ .ham-menu .line3 {
        display: block;
        transform: rotate(-45deg);
    }

    h3{
        margin: 0;
    }

    button{
        width: 75%;
        padding: 10px 10px;
        display: inline-block;
        border: none;
        align-self: left;
        width: fit-content;
        border-radius: 20px;
        color: #151515;
        background-color: #F0EBD8;
        transition: .2s;

        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }

        &:nth-child(1){
            border-radius: 20px 0 0 20px;
            background-color: #0F71D3;
            color: #F0EBD8;
            margin-right: 5px;

            &:hover{
                background-color: #093969;
            }
        }
        &:nth-child(2){
            border-radius: 0 20px 20px 0;
            background-color: #F0EBD8;
            color: #151515;

            &:hover{
                background-color: #777775;
            }
        }
    }
}