.container{
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form{
        display: flex;
        flex-direction: column;

        input[type=text], input[type=password]{
            width: 100%;
            padding: 10px 20px;
            margin: 8px 0;
            display: inline-block;
            border: none;
            box-sizing: border-box;
            border-radius: 20px;
            color: #fff;
            background-color: #1a2439;
            transition: .2s;

            &:hover{
                background-color: #27324a;
            }
            &:focus{
                outline: none;
                background-color: #27324a;
            }
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            button{
                width: 75%;
                padding: 10px 10px;
                display: inline-block;
                border: none;
                box-sizing: border-box;
                border-radius: 20px;
                color: #151515;
                background-color: #F0EBD8;
                transition: .2s;

                &:hover{
                    cursor: pointer;
                    letter-spacing: 0.5px;
                }

                &:nth-child(1){
                    border-radius: 20px 0 0 20px;
                    background-color: #0F71D3;
                    color: #F0EBD8;
                    margin-right: 5px;

                    &:hover{
                        background-color: #093969;
                    }
                }
                &:nth-child(2){
                    border-radius: 0 20px 20px 0;
                    background-color: #F0EBD8;
                    color: #151515;

                    &:hover{
                        background-color: #777775;
                    }
                }
            }
        }
    }

    .loading{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .error{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: #F0EBD8;
        font-size: 12px;
    }

    .material-symbols-outlined{
        margin-right: 5px;
        font-size: 1.8em;
    }
}