<div class="container">
    <div class="intro">
        <img src="favicon.ico" alt="" style="width: 100px; height: 100px;">
        <h1>Le Moulin Chat</h1>
    </div>

    <div class="form">
        <input #username type="text" placeholder="Username">
        <input #pass (keyup.enter)="login(username.value, pass.value)" type="password" placeholder="Password">

        <div class="buttons">
            <button (click)="login(username.value, pass.value)" class="button" type="submit">Log in</button>
            <button (click)="singup(username.value, pass.value)" class="button" type="submit">Sign in</button   >
        </div>
    </div>

    <div class="loading" *ngIf="loading">
        <img src="https://samherbert.net/svg-loaders/svg-loaders/oval.svg">
    </div>

    <div class="response {{response.state}}" *ngIf="response.exist">
        <span class="material-symbols-outlined">error</span>
        {{ response.message }}
    </div>

</div>