.container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: calc(100% - 20px);
    height: 100%;
    margin: 0 10px;

    input{
        display: flex;
        height: 75%;
        width: 100%;
        border-radius: 100px;
        border: none;
        outline: none;
        padding: 0 10px;
        background: #fff;
        color: #000;
    }
    .btnContainer{
        margin-left: 20px;

        button{
            width: 2em;
            height: 2em;
            border: none;
            outline: none;
            background: #0F71D3;
            color: #fff;
            font-size: 1.2rem;
            cursor: pointer;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}